.profil-right {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.profil-right img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    border: solid 10px #4CE0D7;
    object-fit: cover;
}

.profil-right p {
    font-size: 12px;
}

.profil-right .your-host {
    color: #BCBCBC;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.88px;
    margin: 0;
    margin-top: 33px;
}

.profil-right .name {
    color: #262626;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}

.profil-right .text {
    margin-top: 24px;
}

.profil-right .lets-chat {
    margin-top: 39px;
}

.profil-right .social {
    display: flex;
    gap: 15px;
    margin-top: 32px;
}